.footer {
  background-color: coral;
  color: blue;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.social-media {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media > li {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(189, 43, 73);
  color: white;
  cursor: pointer;
}
.social-media li:hover{
  transition: all 0.3s linear;
  background-color:rgb(220, 87, 114) ;
}

.social-media > li:first-child {
  background-color: rgb(0, 183, 255);
}

.social-media li:first-child:hover{
  transition: all 0.3s linear;
  background-color:  rgb(85, 141, 163) ;
}
.social-media > li:last-child {
  background-color: rgb(255, 0, 0);
}

.social-media li:last-child:hover{
  transition: all 0.3s linear;
  background-color:rgb(255, 92, 92) ;
}

.logo { 
  font-size: 30px;
  font-weight: 700;
}
